<!doctype html>
  <html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
  </head>
  <body>

    <div id="container">
      <!-- <video id="video" muted></video> -->
      <video autoplay="true" controls="" id="video" loop="" muted class="player__video">
        <source src="assets/cityscape.mp4" type="video/mp4">
      </video>
    </div>
    <script>
     //  if(Hls.isSupported()) {
     //    var video = document.getElementById('video');
     //    var hls = new Hls();
     //    hls.loadSource('http://localhost:8080/hls/test.m3u8');
     //    hls.attachMedia(video);
     //    hls.on(Hls.Events.MANIFEST_PARSED,function() {
     //      video.play();
     //  });
     // }
    </script>
  </body>
  </html>
